<div  style="float: right; margin-top: -20px;" ><a data-remote="true" href="<%=dashboard_subscribe_path(:user_id=>message.receiver_id,:list_id=>message.list_id) %>" class="button" style="padding: 5px 24px 7px 7px;">Subscribe</a>
       </div>