 <div class="panel panel-default">
        <div class="panel-heading">Messages</div>
          <div class="panel-body">

            <% @messages.each do |message| %>
            <p>  <%= message.message_text %><hr/></p>
            <% end %>
          </div>
        </div>
      </div>