<div class="page"> 
  <div class="container">
    <div class="left-section left">
      <%= render :partial=>"message_nav" %>
    </div>  
    <div class="right-section right">
      <div class="heading border-radius">inbox</div>
      <div class="inbox message border-radius">
        <% @messages.each do |message| %>
        <div class="message-holder">
          <% if message.is_sent_by?(@current_user) %>
          <%= render :partial=>"sent_message",:locals=>{:message=>message} %>
          <% else %> 
            <%= render :partial=>"message",:locals=>{:message=>message} %>
          <% end %>  
        </div>  
        <% end %>  
      </div><!-- .inbox -->
    </div><!-- .right-section -->
    <div class="clear"></div>
  </div><!-- .container -->

  <div class="clear"></div>
  
</div>

<script type="text/javascript">
$(document).ready(function(){
  VL.message.initFancyBox()
})
</script>




