<div class="page"> 
  <div class="container">
    <div class="left-section left">
      <%= render :partial=>"message_nav" %>
    </div>  
    <div class="right-section right">
      <div class="heading border-radius">inbox</div>
      <div class="inbox message border-radius">
        <% @messages.each do |message| %>
        <div class="message-holder">
          <% descendant_message = message.last_message_in_thread %>
          <%= render :partial=>"preview_message",:locals=>{:message=>descendant_message,:root_message=>message} %>
        </div>  
        <% end %>  
      </div><!-- .inbox -->
    </div><!-- .right-section -->
    <div class="clear"></div>
  </div><!-- .container -->

  <div class="clear"></div>
  
</div>
<%= render :partial=>"footer" %>



<script type="text/javascript">
$(document).ready(function(){
  VL.message.initFancyBox()
})
</script>




<script type="text/javascript">
    $(document).ready(function() {
        $('.fancybox').fancybox();
    });
</script>


