<% if @current_user.messages.not_trash.where(seen: false).size == 0 %>
<% else %>
	$(".notify_update").html("<div class=\"noti_bubble\"><%= @current_user.messages.not_trash.where(seen: false).size %></div>")
<% end %>