
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "main/application" %>
  <%= javascript_include_tag "main/application" %>
  <%= csrf_meta_tags %>


  <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />

  
</head>
 <body> 
<div id="wrap" class="" role="document" style="display:none;">
    <header id="header">
        <div class="container">
        <div class="header-logo">
            
                <a href="index.html"><img src="./images/logo.png"/></a>
            </div>
        </div>
    </header>
        <div class="nav-bar">
        <div class="container">
            <div class="span6">
            <nav id="main-nav" class="navbar">
                <div class="navba-inner">
                    
                        <ul id="menu-primary-navigation" class="nav">
                            <li class="menu-home"><a href="index.html">Home</a></li>
                            <li class="menu-activity"><a href="activity.html">Activity</a></li>
                            <li class="menu-discover"><a href="discover.html">Discover</a></li>
                            <li class="menu-profile active active"><a href="profile.html">Profile</a></li>
                        </ul>
                        <div class="clear"></div>
                    
                </div>
                
                <div class="clear"></div>
                
            </nav>
            </div>
            <div class="span6">
                <div class="search-bar-area">
                <form id="top-search" action="">
                  	<input class="sear-ch" type="text"  placeholder="Search" />
                </form>
                </div>
                <div class="top-right-links">
                <ul>
                    <li><a href="#"><img src="./images/setting-img.png" /></a></li>
                    <li><a href="#"><img src="./images/top-edit-img.png" /></a></li>
                </ul>
                </div>
                
            </div>
            </div>
        </div>
    
    
    
    <div id="main-con">
        <div class="container">
            <div class="span4 left">
				<div class="profile">
				<div class="profile-det">
					<a href="#"><img src="images/profile.png" /></a>
					<div class="name">Maria Jhonson<span>@jhonson</span></div>
					<div class="profile-link"><a href="#">view my profile page</a></div>
				</div>
				<div class="tips"><span>0</span>TIPS</div>
				<div class="tips"><span>0</span>ACQUAINTING</div>
				<div class="tips" style="border-right:none;"><span>0</span>ACQUAINTANCES</div>
				<select class="msg">    
										<option value="direct-message">Direct Message</option>
  										<option value="acquaint">Acquaint</option>
  										<option value="admire">Admire</option>
  										<option value="message">Message</option>
  										<option value="add-to-list">Add to list</option>
								</select>
				
				
			</div>
                <div class="left-links">
                    <ul>
                        <li class="menu-tips "><a href="tips.html">TIPS</a></li>
                        <li class="menu-acquating"><a href="Acquainting.html">ACQUAINTING</a></li>
                        <li class="menu-acquaintances"><a href="acqaintances.html">ACQUAINTANCES</a></li>
                        <li class="menu-admire"><a href="admire.html">ADMIRE</a></li>
                        <li class="menu-lists"><a href="lists.html">LISTS</a></li>
                    </ul>
                </div>
                <div class="cool-people">
                    <div class="peaple-header">
                    <div class="row">
                        <div class="span2 cool-heading">
                            <h6>Cool People to Acquaint</h6>
                        </div>
                        <div class="span2 cool-h-link">
                            <ul>
                                <li><a href="#">Refresh</a></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        </div>
                        </div>
                    </div>
                    <div class="cool-post">
                        <img align="left" src="./images/cool-img.png" />
                        <ul>
                            <li>Lexus</li>
                            <li><a href="#">@Lexus</a></li>
                        </ul>
                        <p>Acquainted by <span>Marie Lau</span> and <span>others</span></p>
                        <a class="post-link" href="#">Acquaintance</a>
                    </div>
                    <div class="cool-post">
                        <img align="left" src="./images/cool-img.png" />
                        <ul>
                            <li>Franklin</li>
                            <li><a href="#">@Franklin</a></li>
                        </ul>
                        <p>Acquainted by <span>Marie</span> and <span>others</span></p>
                        <a class="post-link" href="#">Acquaintance</a>
                    </div>
                </div>
                
                <div class="miami-trends">
                    <div class="miami-header">
                        <ul>
                            
                            <li><a href="#">Miami Trends</a></li>
                            <li>Change</li>
                        </ul>
                    </div>
                    <div class="miami-links">
                        <ul>
                            <li><a href="#">#sytcdfinale</a></li>
                            <li><a href="#">#Manuel Contresras</a></li>
                            <li><a href="#">#Adnire</a></li>
                            <li><a href="#">#Cristiano Ronaldo</a></li>
                        </ul>
                    </div>
                </div>
                <div class="copy-tippen">
                <p><strong>&copy; 2013 Tippen the velet</strong></p>
                <p>About TV Advertisers Blog</p>
                <p>Find Acquaintances Privacy Terms</p>
                </div>
				<div class="banner"><img src="./images/isotok.png" /></div>
            </div>
            <div class="span8 tippen-content">
                
                <div class="ric-area1">
                    <p class="ric-reply"><input type="text" placeholder="write a Tip---" /></p>
                </div>
				<div class="con-main">
                    <img class="m-large" src="./images/main-large-img.png" />
                    <p class="con-main-p">Julie  <a href="#" style="color:#9f9f9f">@ric_flair</a></p>
                    <p>London Serviced Apartments, Corporate Housing Extended Stay Hotels & Short-lets</p>
                    <p class="profile-link"><a href="#">View Ric Flair Profile</a></p>
                </div>
                <div class="m-footer">
                    <div class="tips-reply-more">
                        <ul>
                            <li class="re-ply"><a href="#">Reply</a></li>
                            <li class="re-tip"><a href="#">Re-Tip</a></li>
                            <li class="numbers"><a href="#">300</a></li>
                            <li class="mo-re"><a href="#">More</a></li>
                        </ul>
                    </div>
					<p>about an hour ago 5:20 AM - 16 Sep 13 - <a class="details" href="#">Details</a></p>
                </div>
				<div class="small-widget">
                    <img align="left" src="./images/main-large-img.png" width="40px" style="padding-right:10px;" />
                    <p>Marie &nbsp; &nbsp; &nbsp;<a href="#">@merry</a><br /> nce display picture</p>
                    <div class="reply-more">
                        <ul>
                            <li class="re-ply"><a href="#">Reply</a></li>
                            <li class="re-tip"><a href="#">Re-Tip</a></li>
                            <li class="numbers"><a href="#">300</a></li>
                            <li class="mo-re"><a href="#">More</a></li>
                        </ul>
                    </div><br />
                    <p>about an hour ago 5:20 AM - 16 Sep 13 - <a class="details" href="#">Details</a></p>
                </div>
               <div class="ric-area">
                     <img align="left" src="./images/ric-img.png" width="40px" style="padding-right:10px;" />
                    <p class="ric-reply"><input type="text" placeholder="write a Tip---" /></p>
                </div>
				<div class="con-main">
                    <img class="m-large" src="./images/main-large-img.png" />
                    <p class="con-main-p">Julie  <a href="#" style="color:#9f9f9f">@ric_flair</a></p>
                    <p>London Serviced Apartments, Corporate Housing Extended Stay Hotels & Short-lets</p>
                    <p class="profile-link"><a href="#">View Ric Flair Profile</a></p>
                </div>
                <div class="m-footer">
                    <div class="tips-reply-more">
                        <ul>
                            <li class="re-ply"><a href="#">Reply</a></li>
                            <li class="re-tip"><a href="#">Re-Tip</a></li>
                            <li class="numbers"><a href="#">300</a></li>
                            <li class="mo-re"><a href="#">More</a></li>
                        </ul>
                    </div>
					<p>about an hour ago 5:20 AM - 16 Sep 13 - <a href="#">Details</a></p>
                </div>
            
            <div class="ric-area">
			 <img align="left" src="./images/ric-img.png" width="40px" style="padding-right:10px;" />
                    <p class="ric-reply"><input type="text" placeholder="write a Tip---" /></p>
                </div>
            
        </div>
    </div>
    
    
    <footer id="footer" class="footer">
        <div class="container" style="position: relative;">
        <div class="footer-logo">
            <a href="index.html"><img src="./images/footer-logo.png" /></a>
        </div>
            <div id="footer-main-nav" class="f-navbar">
                <div class="f-navba-inner">
                    
                        <ul id="menu-primary-navigation" class="f-nav">
                            <li class="f-menu-about-tv"><a href="index.html">about tv</a></li>
                            <li class="f-menu-adver"><a href="advertisers.html">advertisers</a></li>
                            <li class="f-menu-blog"><a href="blog.html">blog</a></li>
                            <li class="f-menu-find"><a href="find-acquaintances.html">find acquaintances</a></li>
                            <li class="f-menu-privacy"><a href="privacy.html">PRIVACY</a></li>
                            <li class="f-menu-terms"><a href="terms.html">TERMS</a></li>
                        </ul>
                        <div class="clear"></div>
                    
                </div>
                <div class="clear"></div>
            </div>
            
                <p class="copyrite" align="center">&copy; 2013 TIPPIN THE VELVET. All Rights Reserved.</p>
                <div class="clear"></div>
        </div>
    </footer>
    </div>
   </body>
 

</html> 