<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en">
<body>
<h1 style="color:#000000; font-weight:normal; font-size:14px; margin-bottom:10px;text-align:left;line-height:140%;">
<p>Hello <%= @user.name %>,<p>
</h1>

<p style="color:#000000; font-weight:normal; font-size:14px; margin-bottom:30px;text-align:left;line-height:140%;">
    <%= "#{@person.name} #{@activity.description}" %>. 
</p>


<p style="color:#000000; font-weight:normal; font-size:14px; margin-bottom:30px;text-align:left;line-height:140%;">
<a href="https://velvet-development.herokuapp.com/activity">Check</a>
</p>

<p style="color:#000000; font-weight:normal; font-size:11px; margin-top:20px;text-align:left;line-height:140%;">
	Cheers, <br/>
	Tippin The Velvet Team.
</p>
</body>
</html>