<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tippin TheVelvet</title>

<%= stylesheet_link_tag "public", :media => "all" %>
</head>

<body>
<div id="main-page"><!--Open Main Page-->
  <div class="header"></div>
    
    <div id="nav-area">
        <div class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/brands">Brand & Media Kit </a></li>
                <li><a href="/dmca">DMCA</a></li>
                <li><a href="/privacy">Privacy policy</a></li>
                <li><a href="/terms">Terms</a></li>
          
            </ul>
        </div>
            <!--
            <div class="search-area">
            <form class="search">
                <input type="text" name="search-box" placeholder="Search..." id="search-box" />
                <input type="submit" class="submit" value="" />
                
            </form>
            
                
                
            </div>
            -->
             <!--   <img src="images/img.jpg" /> -->
    </div>
    
        <div id="header-btm">
        <h1>About TTV</h1>
        </div>
        
            <div id="content-area">
            <!--
            <h1>18 USC 2257 STATEMENT: TippinTheVelvet.COM</h1>
            
            <p>
                TippinTheVelvet.com is not a producer (primary or secondary) of any and all of the content found on the website (TippinTheVelvet.com). With respect to the records as per 18 USC 2257 for any and all content found on this site, please kindly direct your request to the site for which the content was produced.
TippinTheVelvet.com is a video sharing site in which allows for the uploading, sharing and general viewing of various types of adult content and while TippinTheVelvet.com does the best it can with verifying compliance, it may not be 100% accurate.
TippinTheVelvet.com abides by the following procedures to ensure compliance:
Requiring all users to be 18 years of age to upload videos.
When uploading, user must verify the content; assure he/she is 18 years of age; certify that he/she keeps records of the models in the content and that they are over 18 years of age.
For further assistance and/or information in finding the content's originating site, please contact TippinTheVelvet.com compliance at copyright@TippinTheVelvet.com
TippinTheVelvet.com allows content to be flagged as inappropriate. Should any content be flagged as illegal, unlawful, harassing, harmful, offensive or various other reasons, TippinTheVelvet.com shall remove it from the site without delay.
Users of TippinTheVelvet.com who come across such content are urged to flag it as inappropriate by clicking 'flag as inappropriate' link found below each video.
            </p>
            -->

            <h1>Social Media Freedom for Adults</h1>
            
            <p>
                TippinTheVelvet is a 18 and older social media website, “Where You Can Be You”. TippinTheVelvet was created with the adult in mind to express themselves however you’d like through 170 character texts, Photos, Videos, Audio and  our Fumoji’s. TippinTheVelvet was founded in May 2013 in Las Vegas, NV. With new adults users joining everyday, there is sure to be a conversation you’ll love to start or join.
            </p>

             <h1>Experience </h1>
            
            <p>
                The experience of TippinTheVelvet is to where you want to take it. You, the users, decide who your acquaintances are. Regardless, there is something for everyone and their unique interests.
            </p>

             <h1>Business</h1>
            
            <p>
                TippinTheVelvet for business’s connects customers and potential customers directly to them in the here and now. This gives the business’s the ability to share products and what they are all about directly to the consumer.

            </p>

            <h1>Location</h1>
            
            <p>
                TippinTheVelvet Corporate Headquarters is located in Las Vegas, NV. Our location gives the TTV Team the ability to Market to Millions of Travelers from around the world who visit Las Vegas, NV every year. With a International Airport located here as well, it makes traveling easy giving TTV room to grow.

            </p>

            <h1>Charity</h1>
            
            <p>
                TippinTheVelvet cares about others around the world in every community. As we grow, TippinTheVelvet will be giving to various charities globally, as we want to help make this a better world we all live in.

            </p>


            <h1></h1>



        

        <div class="footer-bootom text-align-center">
        <div class="footer-text">
            <img width="541" height="91" alt="Logo" src="/assets/main/logo-4180cd1de3d92e5af7525652443c868c.png">

                <ul>
                  <li><a href="/about">About us</a></li>
                  <li><a href="/advertisers">Advertisers</a></li>
                  <li><a href="/brands">Brand &amp; Media Kit </a></li>
                  <li><a href="/dmca">DMCA</a></li>
                  <li><a href="/privacy">Privacy policy</a></li>
                  <li><a href="/terms">Terms &amp; Condition</a></li>
                </ul>
                &copy; 2014 Tippin The Velvet. All Right Reserved.
        </div>
        </div>



</div><!--Open Main Page-->
</body>
</html>
