<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tippin TheVelvet</title>

<%= stylesheet_link_tag "public", :media => "all" %>
</head>

<body>
<div id="main-page"><!--Open Main Page-->
  <div class="header"></div>
    
    <div id="nav-area">
        <div class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/terms">Terms</a></li>
                <!--
                <li><a href="blog.html">Advertisers</a></li>
                <li><a href="find.html">Find Acquaintances</a></li>
                -->
                <li><a href="/privacy">Privacy Policy</a></li>
            </ul>
        </div>
            <!--
            <div class="search-area">
            <form class="search">
                <input type="text" name="search-box" placeholder="Search..." id="search-box" />
                <input type="submit" class="submit" value="" />
                
            </form>
            
                
                
            </div>
            -->
             <!--   <img src="images/img.jpg" /> -->
    </div>
    
        <div id="header-btm">
        <h1>About TV</h1>
        </div>
        
            <div id="content-area">
            <h1>18 USC 2257 STATEMENT: TippinTheVelvet.COM</h1>
            
            <p>
                TippinTheVelvet.com is not a producer (primary or secondary) of any and all of the content found on the website (TippinTheVelvet.com). With respect to the records as per 18 USC 2257 for any and all content found on this site, please kindly direct your request to the site for which the content was produced.
TippinTheVelvet.com is a video sharing site in which allows for the uploading, sharing and general viewing of various types of adult content and while TippinTheVelvet.com does the best it can with verifying compliance, it may not be 100% accurate.
TippinTheVelvet.com abides by the following procedures to ensure compliance:
Requiring all users to be 18 years of age to upload videos.
When uploading, user must verify the content; assure he/she is 18 years of age; certify that he/she keeps records of the models in the content and that they are over 18 years of age.
For further assistance and/or information in finding the content's originating site, please contact TippinTheVelvet.com compliance at copyright@TippinTheVelvet.com
TippinTheVelvet.com allows content to be flagged as inappropriate. Should any content be flagged as illegal, unlawful, harassing, harmful, offensive or various other reasons, TippinTheVelvet.com shall remove it from the site without delay.
Users of TippinTheVelvet.com who come across such content are urged to flag it as inappropriate by clicking 'flag as inappropriate' link found below each video.
            </p>



          <!--  <div id="footer"></div> -->


</div><!--Open Main Page-->
</body>
</html>
