<div class="middle">
	<div class="center-form">
		
		<form id="DOB" method="POST" action="" class="Dob">
			<div class="enter">ENTER YOUR DATE OF BIRTH</div>
			<div class="inputer">
			<input type="text" class="input1" placeholder="MM" maxlength="2" id="a"/>
			<input type="text" class="input2" placeholder="DD" maxlength="2" id="b"/>
			<input type="text" class="input3" placeholder="YYYY" maxlength="4" id="c"/></div>
			<div class="error">asdsds</div>
			<div class="what">WHAT COUNTRY DO YOU LIVE IN?</div>
			<div class="selectors">
			<select>
			<option>UNITED STATES</option>
			
			</select><br/><br/>
			<input type="checkbox" name="" class="cheking"/> <span class="rem">Remember Me</span><span class="privacy"><A href="#">Privacy Policy</a></span>
			
			</div>
		</form>
		
		<form id="Registeration" method="POST" action="" class="Registeration">
			<h1 class="registrationh1">Registration</h1>
			<div class="register-field">
			<label>Name:</label><br/>
			<input type="text" class="register name" Placeholder="User Name"/><br/>
			<label>Email:</label><br/>
			<input type="text" class="register email" Placeholder="Email"/><br/>
			<label>Password:</label><br/>
			<input type="password" class="register Password" Placeholder="Password"/>
			</div>
			<div class="error">asdsds</div>
		</form>
		<div>
		
		
		</div>
		  <div class="enter-site"><%= image_tag "entersite.png" %></div>
		  <div class="enter-site3">Register</div>
		  <div class="enter-site2"><%= image_tag "exit.png" %></div>
	</div>

</div><!--End of middle-->