<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="Amitesh Chauhan">

    <title>TIPPIN THE VELVET | Brand & Media Kit </title>
    
    <link href="/assets/main/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="../assets/css/style.css" type="text/css" media="screen" />
    

    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../assets/js/jquery-1.6.1.min.js"><\/script>')</script>

    <script src="../assets/js/jquery.smoothscroll.js"></script>
    
    <script src="../assets/js/jquery.easing-1.3.pack.js"></script>
    
    <script src="../assets/js/init.js"></script>

    <style type="text/css">
        .home-bottom {

            position: absolute;
            bottom: 170px;
            right: 250px;
        }
    </style>

</head>

<body>

<!-- header-wrap -->
<div id="header-wrap">
    <header>

        <hgroup>
            <h1><a href="index.html">TIPPIN THE VELVET</a></h1>
           
        </hgroup>

        <nav>
            <ul>
                <li><a href="#1">Home</a></li>
                <li><a href="#2">Scintillating Details</a></li>
                <li><a href="#3">Sultry Platform</a></li>
                <li><a href="#4">The Founder</a></li>
                
            </ul>
        </nav>

    </header>
</div>

<!-- content-wrap -->
<div class="content-wrap">

    <!-- main -->
    <section id="1">
        <p>
        <img src="../assets/images/home.png" width="100%">
        </p>
        <div class="home-bottom">
        
            <p style="color:#e7e7e7; text-shadow:none;">
                The latest in instant, </br>
                interactive social </br>
                media networking</br>
                for <strong style="color:#741113;"> ADULTS </strong>
            </p>
        </div>
        <a class="back-to-top" href="#1">Back to Top</a>
        
      </section>

      <!-- services -->
      <section id="2" >

             
             <img src="../assets/images/page-2.png" width="100%">
             <div class="row no-bottom-margin">
                <section class="col">
                    

                    <p>Take a peek into the <strong style="color:#741113;">sensual world of adult social networking.</strong> Don't worry, we're all adults here so no one is going to censor anything you say or do. TippintheVelvet.com (TTV) is breaking all the rules and leading the way in free adult entertainment.</p>
                

                    <p><h1>The Scintillating Details</h1>
                        Think social networking without strict content guidelines... or a little casual dating without photo censorship.
                    </p>
               

                    <p>TippintheVelvet.com is the only light or hardcore, adult social media site that provides anyone who is 18+ a place where they can be themselves without judgment or restriction. The founder, Jeray Reed, did extensive research and he knows what people want. So it's no surprise future users are already clamoring at their internet door, waiting to get started.</p>

                </section>

            </div>

            

            <a class="back-to-top" href="#1">Back to Top</a>

      </section>

      <!-- portfolio -->
      <section id="3" >

             
             <img src="../assets/images/page-3.png" width="100%">

             <div class="row no-bottom-margin">
                <section class="col">
                    <h1>THE PLEASURE PLAYERS</h1>
                    <p style="color:#741113;">
                        TippintheVelvet is the first site to open its arms to users
                        from all walks-of-life.
                    </p>

                    <p>Have a fetish, sexual preference or interested in hooking up with a group?
                        Maybe you feel like having a fantasy fulfilled or a casual sex-text? You might
                        feel like chatting about all of the steamy and elicit parts of life, sharing photos,
                        or simply enjoy some humor with friends.</p>
                

                    <p>Have no fear - this site is open to everyone's whims and pleasures; users can
                            delight in knowing they are on their own without webmasters or discussion
                            monitors listening or watching. As long as there are no illegal activities or
                            crossing wires on the policies, users can feel at home.
                    </p>
               

                    <p><h1>THE SULTRY PLATFORM</h1>
                        TippintheVelvet takes all of your favorite things from other social platforms and
                        combines them into one sexy little website and app without the iron curtain.
                        Other platforms remove photos that are barely risqué, so as not to shock or
                        upset those who have traditional tastes.</p>

                    <p style="color:#741113;">
                        In today's world, individuality rules so TTV supports the notion that everyone
                        has a right to party and have fun, their own way.
                    </p>

                    <p>
                        <h1>THE BARE FACTS</h1>
                        <ul>
                            <li>Caters strictly to adult visitors, a place where "you can be yourself"</li>
                            <li>There is no cost for membership.</li>
                            <li>Within minutes, users can upload profile photos and information and start their own party.</li>
                            <li>Bring along friends from other platforms or make new ones.</li>
                            <li>For some sexy fun, buy a pack of sexy fumojis for a nominal cost. Fumojis are similar
                                to emojis, except a little (a lot) more graphic and fun. You won't find smiley faces here.</li>
                            <li>Just like other social media platforms, it's accessible through computers,
                                    mobile phones or other devices.</li>
                            <li>Policies allow for everything that is legal; all photos, language, hook-ups allowed</li>
                            <li>Spamming members is unacceptable</li>
                        </ul>
                    </p>

                </section>

            </div>

            

            <a class="back-to-top" href="#1">Back to Top</a>

      </section>


      <!-- about us -->
      

             <section id="4" class="clearfix" >

             
             <img src="../assets/images/page-4.png" width="100%">

             <div class="row no-bottom-margin">
                <section class="col">
                </br></br></br></br>
                    <h1>THE FOUNDER</h1>
                   </br></br>
                    <p>TTV is the brainchild of adult entertainment professional, Jeray Reed. Born
                        and raised in Las Vegas, Mr. Reed has had a career of high-profile positions
                        with some of the city's most upscale gentlemen's clubs and casinos, such as
                        Crazy Horse 3, Sapphire and The Palms.</p>
                
                            </br></br>
                    <p>Also fascinating, Mr. Reed comes from a long line of country music legends
                        from the 50s and beyond: Lefty Frizzell, David Frizzell, Allen Frizzell, Dottie and
                        Shelly West, most of who are listed in the Country Music Hall of Fame. It was
                        Jeray's adult entertainment and musical backgrounds that set off the light bulb
                        for creating a website and app that caters to the steamier side of classy.
                    </p>
               
</br></br></br></br>
                    

                    <p>
                        <strong style="color:#741113;"> ADVERTISING:</strong> <strong> ALL CHANNELS (WEB & MOBILE)
                        OF TTV WILL OFFER ADVERTISING OPPORTUNITIES.
                        PLEASE CONTACT FOR DETAILS.</strong>
                    </p>

                    <aside>
                        
                        <p>
                            <b>TIPPIN THE VELVET</b>
                            info@tippinthevelvet.com
                            702-708-1509
                            3315 E. Russell Rd STE A4
                            Las Vegas, NV 89120
                        </p>

                    </aside>

                </section>

            </div>

             



           

            <a class="back-to-top" href="#1">Back to Top</a>

      </section>

          

      

      

</div>

<!-- footer -->
<footer>
    <div class="footer-content">
         <img  alt="Logo" src="../assets/images/logo.png">

        <ul>
          <li><a href="/about">About us</a></li>
          <li><a href="/advertisers">Advertisers</a></li>
          <li><a href="/brands">Brand &amp; Media Kit </a></li>
          <li><a href="/dmca">DMCA</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/terms">Terms &amp; Condition</a></li>
        </ul>
        


        <p class="footer-text">&copy; 2014 Tippin The Velvet. All Right Reserved.</p>
    </div>

</footer>

</body>
</html>
