<div class="page" style="margin-top:25px;margin-bottom:40px;">
    <div class="container">
      <div class="simple-page">
      <div class="tip-holder">
            <h3 class="advertiser-heading">Thank you for your interest in Tippin Ads.<br />
      <span>We will review your information and get back to you as soon as possible.</span></h3>
            </div><!-- .tip-holder -->
        </div><!-- .simple-page -->
        <div class="clear"></div>
    </div><!-- .container -->
</div><!-- .page -->