<div class="footer border-radius box-space">
	© 2013 Tippin the velvet
    <ul>
    	<li><a href="/about">About TV</a></li>
    	<li><a href="/terms">Terms</a></li>
    	<li><a href="#">Advertisers</a></li>
    	<li><a href="/privacy">Privacy </a></li>
    	<li><a href="/dmca">DMCA </a></li>
    </ul>
</div><!-- .footer -->