<div class="copy-tippen">
    <p><strong><a href="/">© 2013 TippinTheVelvet</a></strong></p>
    <p><a href="/about">About TV</a> <a href="#">Advertisers</a></p>
    <p><a href="/privacy">Privacy</a> <a href="/terms">Terms</a></p>
</div>