<div class="left-list box-space">
	<ul class="border-radius">
    	<!-- <li><a href="/<= @current_user.username %>/edit/account">account</a></li> -->
    	<li><a href="/<%= @current_user.username %>/edit/profile">profile</a></li>
    	<li><a href="/<%= @current_user.username %>/edit/password">password</a></li>
    	<li><a href="/<%= @current_user.username %>/edit/notification">email notification</a></li>
    	
    </ul>
</div>