<div class="display-box border-radius">
	<div class="name">
        <p><%= @current_user.name %><small><a href="/<%= @current_user.username %>">view my profile page</a></small></p>
    	<%= image_tag "main/main-large-img.png", :width => "47" %>
    </div><!-- .name -->
</div>