<div class="left-links">
    <ul>
        <li class="menu-tips "><a href="tips.html">TIPS</a></li>
        <li class="menu-acquating"><a href="Acquainting.html">ACQUAINTING</a></li>
        <li class="menu-acquaintances"><a href="acqaintances.html">ACQUAINTANCES</a></li>
        <li class="menu-admire"><a href="admire.html">ADMIRE</a></li>
        <li class="menu-lists"><a href="lists.html">LISTS</a></li>
    </ul>
</div>	