<!--  <div class="footer border-radius banner box-space" style="margin-top:12px">
  Advertisement
  <% if @advertiser %>
    <%#= image_tag @advertiser.campaign_image_url,:width=>"302",:height=>"260px" %>

    <a target="_blank" href="<%= @advertiser.website %>"><%= image_tag @advertiser.campaign_image_url,:width=>"280px",:height=>"" %></a>
    <% if @advertiser.ga_account.present? &&  @advertiser.ga_website.present? %>
      <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
      <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '<%= @advertiser.ga_account%>']);
          _gaq.push(['_setDomainName', '<%= @advertiser.ga_website%>']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

      </script>



    <% end %>
  <% end %>
</div> -->