 <div class="banner" style="margin-top:12px">
  <% if @advertiser %>
    <%#= image_tag @advertiser.campaign_image_url,:width=>"302",:height=>"260px" %>
    <%= image_tag @advertiser.campaign_image_url,:width=>"302px",:height=>"" %>
  <% end %>
</div>