<div class="cool-people">
    <div class="peaple-header">
    <div class="row">
        <div class="span2 cool-heading">
            <h6>Cool People to Acquaint</h6>
        </div>
        <div class="span2 cool-h-link">
            <ul>
                <li><a href="#">Refresh</a></li>
                <li><a href="#">View All</a></li>
            </ul>
        </div>
        </div>
    </div>
    <div class="cool-post">
        <img align="left" src="./images/cool-img.png">
        <ul>
            <li>Lexus</li>
            <li><a href="#">@Lexus</a></li>
        </ul>
        <p>Acquainted by <span>Marie Lau</span> and <span>others</span></p>
        <a class="post-link" href="#">Acquaintance</a>
    </div>
    <div class="cool-post">
        <img align="left" src="./images/cool-img.png">
        <ul>
            <li>Franklin</li>
            <li><a href="#">@Franklin</a></li>
        </ul>
        <p>Acquainted by <span>Marie</span> and <span>others</span></p>
        <a class="post-link" href="#">Acquaintance</a>
    </div>
</div>  