<div class="miami-trends">
    <div class="miami-header">
        <ul>
            
            <li><a href="#">Trends</a></li>
            <!-- <li>Change</li> --> 
        </ul>
    </div>
    <div class="miami-links">
        <ul>
            <% HashTag.trending.each do |tag| %>
                <li><a href="#"><%= tag.name %></a></li>
            <% end %>
        </ul>
    </div>
</div>