<div class="footer border-radius box-space">
    Trends
    <ul>
        <% HashTag.trending.order("created_at DESC").limit(6).each do |tag| %>
            
            <li><a href="#"><%= raw link_urls_and_users(tag.name) %></a></li>
        <% end %>
    </ul>
</div><!-- .footer -->