<div class="miami-trends">
    <div class="miami-header">
        <ul>
            
            <li><a href="#">Miami Trends</a></li>
            <li>Change</li>
        </ul>
    </div>
    <div class="miami-links">
        <ul>
            <li><a href="#">#sytcdfinale</a></li>
            <li><a href="#">#Manuel Contresras</a></li>
            <li><a href="#">#Adnire</a></li>
            <li><a href="#">#Cristiano Ronaldo</a></li>
        </ul>
    </div>
</div>