
	
<% if !post.admires.where(user_id: @current_user.id).empty? %>
  <a href="<%=post_unadmire_path(:post_id=>post.id)%>" class="admire admire_true " id ="<%= post.id %>" data-remote="true" >unadmire</a>
<% else %>
  <a href="<%=post_admire_path(:post_id=>post.id)%>" class="admire unadmire_true " id="<%= post.id %>" data-remote="true" >admire</a>
<% end %>
