<div style="font-size:14px;font-weight:bold;">Preview</div>
    <div class="box border-radius">
        <div class="box-right" style="padding:10px;">
            <p><%= @content.html_safe %></p>
        </div>
    <div class="clear"></div>
</div>
