
<% if post.repost_count > 0%>
<a href="/search?retips=<%= post.id %>"><%= post.repost_count %> Retips</a>| 
<% end %>
<%= time_ago_in_words(post.created_at).include?("day") || time_ago_in_words(post.created_at).include?("year") || time_ago_in_words(post.created_at).include?("month")? to_date(post.created_at) : time_ago_in_words(post.created_at) %> <!-- <a href="#">Details</a> -->