<% if @bottom_advertiser.present? %>
  <div class="page">
    <div class="container">
       <a target="_blank" href="<%= @bottom_advertiser.website %>"><%= image_tag @bottom_advertiser.campaign_image.url(),:width=>"900px",:height=>"100px" %></a>
      <% if @bottom_advertiser.ga_account.present? &&  @bottom_advertiser.ga_website.present? %>
        <%= content_for :head  do %>
          <script>
            ga('create', '<%= @bottom_advertiser.ga_account %>', 'auto');
            ga('send', 'pageview');
          </script>  
        <% end %>
      <% end %>
    </div>
  </div>  
<% end %>