<div class="footer-bootom text-align-center">
  <div class="footer-text">
    <%= image_tag "main/logo.png", width: "541", height: "91" %>

        <ul>
          <li><a href="/about">About us</a></li>
          <li><a href="/advertisers">Advertisers</a></li>
          <li><a href="/brands">Brand & Media Kit </a></li>
          <li><a href="/dmca">DMCA</a></li>
          <li><a href="/privacy">Privacy policy</a></li>
          <li><a href="/terms">Terms & Condition</a></li>
        </ul>
        © 2014 Tippin The Velvet. All Right Reserved.
  </div>
</div>
</div>