<div class="footer-bootom text-align-center">
  <div class="page">
    <%= image_tag "main/logo.png", width: "541", height: "91" %>

        <ul>
            <li><a href="/about">About TV</a></li>
            <li><a href="/advertisers">Advertisers</a></li> 
            <li><a href="/terms">Terms</a></li>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/dmca">DMCA</a></li>
        </ul>
        © 2014 Tippin the velvet. All Right Reserved.
  </div>
</div>
</div>