<div class="heading">Profile<span>This information appears on your public profile, search results, and beyond.</span></div>

<div class="box profile">
<form>

<div class="profile-heading all-heading">Activity related to you and your Tips</div>


<div class="label-holder">
<label class="label">photo</label>
<p>
</p><div class="profile-photo border-radius left"></div>
<div class="change-photo left">
<input type="button" class="button" value="Change Photo"><span>This photo is your identity on Tippin and appears with your Tips.</span>
</div>
<div class="clear"></div>
<p></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">header</label>
<p>
</p><div class="profile-photo border-radius left"></div>
<div class="change-photo left">
<input type="button" class="button" value="Change Header">
<span>Recommended dimensions of 1252×626<br>Maximum file size of 5MB</span>
</div>
<div class="clear"></div>
<p></p>
<div class="clear"></div>
</div>

<hr>

<div class="label-holder">
<label class="label">name</label>
<p><input type="text" value="Faizan Ali"><span>Enter your real name, so people you know can recognize you.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">location</label>
<p><input type="text" value="Karachi Pakistan"><span>Where in the world are you?</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">location</label>
<p><input type="text" value="abc.com"><span>Have a homepage or a blog? Put the address here.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">bio</label>
<p><textarea rows="8"></textarea><span>About yourself in 160 characters or less.</span></p>
<div class="clear"></div>
</div>

<input type="button" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>