<div class="heading">Password<span>Change your password or recover your current one.</span></div>
<div class="box profile">
<form action="/<%= @current_user.username %>/update_password" method="post">
	<input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />

<div class="label-holder">
<label class="label">Current Password</label>
<p><input name="current_password" type="password" value=""><span>Forgot your password?</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">new Password</label>
<p><input name="change_password" type="password" value=""></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">verify Password</label>
<p><input name="change_password" type="password" value=""></p>
<div class="clear"></div>
</div>

<input type="submit" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>