<div class="heading">Password<span>Change your password or recover your current one.</span></div>
<div class="box profile">
<form>

<div class="label-holder">
<label class="label">Current Password</label>
<p><input name="" type="input" value=""><span>Forgot your password?</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">new Password</label>
<p><input name="" type="input" value=""></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">verify Password</label>
<p><input name="" type="input" value=""></p>
<div class="clear"></div>
</div>

<input type="button" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>