<div class="heading">Email notifications<span>Control when and how often Tippin sends emails to you.</span></div>
<div class="box profile">
<form>


<div class="profile-heading all-heading">Activity related to you and your Tips</div>

<div class="label-holder">
<label class="label">email me when</label>
<p class="check-list"><input name="" type="checkbox" value="">My Tips get a reply or I'm mentioned in a Tip</p>

<!--
<p><input name="" type="checkbox" value="">My Tips are marked as favorites</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">Tips I'm mentioned in are marked as favorites</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">My Tips are retiped</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">Tips I'm mentioned in are retiped</p>
<p><select><option>tailored for you</option></select></p>
<p class="check-list"><input name="" type="checkbox" value="">My Tips get a reply or I'm mentioned in a Tip</p>
<p><select><option>tailored for you</option></select></p>
<p class="check"><input name="" type="checkbox" value="">Someone sends me a follow request</p>
<p class="check"><input name="" type="checkbox" value="">I'm sent a direct message</p>
<p class="check"><input name="" type="checkbox" value="">Someone shares a Tip with me</p>
<p class="check"><input name="" type="checkbox" value="">Someone from my address book joins Tippin</p>

-->

<div class="clear"></div>
</div>


<hr>
<div class="profile-heading all-heading">Activity from your network</div>

<div class="label-holder">
<label class="label">email me when</label>
<p><input name="" type="checkbox" value="">My tips are marked as favorites</p>
<p class="check-list"><input name="" type="checkbox" value="">My tips are retiped</p>
<p class="check-list"><input name="" type="checkbox" value="">I'm sent a direct message</p>
<p class="check-list"><input name="" type="checkbox" value="">Someone sends me a follow request</p>


<div class="clear"></div>
</div>

<!--
<hr>
<div class="profile-heading all-heading">Updates from Tippin</div>

<div class="label-holder">
<label class="label">email me when</label>
<p><input name="" type="checkbox" value="">News about Tippin product and feature updates</p>
<p class="check"><input name="" type="checkbox" value="">Tips on getting more out of Tippin</p>
<p class="check"><input name="" type="checkbox" value="">Things I missed since I last logged into Tippin</p>
<p class="check"><input name="" type="checkbox" value="">News about Tippin on partner products and other third party services</p>
<p class="check"><input name="" type="checkbox" value="">Participation in Tippin research surveys</p>
<p class="check"><input name="" type="checkbox" value="">Suggestions about people I may know on Tippin</p>
<p class="check"><input name="" type="checkbox" value="">Suggestions based on my recent follows</p>
<div class="clear"></div>
</div>


-->



<input type="button" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>