<div class="heading">Account<span>Change your basic account and language settings.</span></div>
<div class="box profile">
<form>

<div class="label-holder">
<label class="label">username</label>
<p><input type="text"><span>https://tippin.com/frankfaizan</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">email</label>
<p><input type="text" value="faizan.wp@hotmail.com"><span>Email will not be publicly displayed.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">language</label>
<p><select><option>english</option></select><span>Interested in helping translate Tippin? Check out the Translation Center.
</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">time zone</label>
<p><select><option>(GMT - 10.00) Hawaii</option></select></p>
<div class="clear"></div>
</div>

<hr>

<div class="profile-heading">content</div>

<div class="label-holder">
<label class="label">country</label>
<p><select><option>pakistan</option></select><span>Select your country. This setting is saved to this browser.</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label">tips media</label>
<p><input type="checkbox">Do not inform me before showing media that may be sensitive<span>You will see all photos or videos even if they contain sensitive media.
</span></p>
<div class="clear"></div>
</div>

<div class="label-holder">
<label class="label"></label>
<p><input type="checkbox">
Mark media I tweet as containing material that may be sensitive<span>Please check this box if your Tips contain sensitive media so that users can be informed prior to viewing.
</span></p>
<div class="clear"></div>
</div>            

<div class="label-holder">
<label class="label">your tippin archive</label>
<p><input type="button" class="button" value="Request Your Archive">
<span>You can request a file containing your information, starting with your first Tipa. A link will be emailed to you when the file is ready to be downloaded.
</span></p>
<div class="clear"></div>
</div>            

<input type="button" class="button save" value="Save Changes">
<div class="clear"></div>
</form>
</div>