<%  if local_assigns[:disable_post].nil? %>
<div class="write-tip">
    <form action="/post/create" name="tips" method="post" enctype="multipart/form-data" id="new_tip">
    <textarea type="text" name="post[body]" id="tip" style="width:633px;" rows="3" cols="50" maxlength="170" value="" placeholder="Write a Tip"></textarea>
     <div style="margin-top: 10px;margin-left: 290px;">
        <span>
            <div style="margin-top: 10px;margin-left: 243px;font-size: 13px !important;color: #333;font-weight: 600;">
            <span id="charNum"></span> 
            </div>
            </br>
            <input type="file" style="display: none;" name="post[avatar]" value="Change Photo">
            <input style="margin-left: 287px;height: 30px;" type="submit" value="Tip" class="button" id="tip_submit">
            </br>
            
            <!--  <input style="margin-left: 15px;height: 30px;" type="submit" value="Tip" class="button"> -->
        </span>

     </div>

     <input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
        <input name="_user" type="hidden" placeholder="<%= params[:username] %>">
    </form>
</div>
<% end %>

<% # if  @user.all_posts(1)[0, 10].empty? %>
<!--
<div style="margin-left: 280px;margin-top: 150px;">
<span style="font-weight: 600; font-size: 25px;">NO POSTS :(</span>
</div>
-->
<% #end %>

<% # @user.all_posts(1)[0, 10].uniq.each do |post| %>
<div id="update_create_tip1">
<%= render "profile/post_list"%>
</div>