<%  if local_assigns[:disable_post].nil? %>
<div class="write-tip">
    <form action="/post/create" name="tips" method="post" enctype="multipart/form-data" id="new_tip">
    <textarea type="text" name="post[body]" id="tip" style="height: 92px; width:619px; max-width: 619px; min-width: 619px;" rows="3" cols="50" maxlength="170" value="" placeholder="Write a Tip" required></textarea>

    <br/>
    <div id="images_preview"></div>
     <div id="comment" style=" display:none; ">
        <span>
            <div style="margin-top: 10px;margin-left: 500px;font-size: 13px !important;color: #333;font-weight: 600;">
            <span id="charNum"></span> 
            </div>
            </br>
            
            <a id="various6" href="/dashboard/emoji_modal"><img src="../assets/123.png" id="fumugi" style="width: 42px;"></a> 
            <div id="image" style="">  
              <img src="../assets/camera.png" alt="camera" height="42" width="42" style="\"> 
            </div>
           <!--  <input type="file" id="file" style="opacity: 0.0;" name="post[avatar]" value="Change Photo">
            <input style="margin-left: 15px;height: 30px;" type="submit" value="Tip" class="button" id="tip_submit"> -->
            <input type="file" id="file" name="file" size="10" style="opacity: 0; margin-left:80px"/>
            <input id="uploadbutton" type="button" value="Tip" class="button" style="float:right; margin-top:-25px;"/>
            </br> 
            
            
            <!--  <input style="margin-left: 15px;height: 30px;" type="submit" value="Tip" class="button"> -->
        </span>

     </div>

     <input name="authenticity_token" type="hidden" value= "<%= form_authenticity_token %>" />
        <input name="_user" type="hidden" placeholder="<%= params[:username] %>">
    </form>

</div>
<% end %>

<% # if  @user.all_posts(1)[0, 10].empty? %>
<!--
<div style="margin-left: 280px;margin-top: 150px;">
<span style="font-weight: 600; font-size: 25px;">NO POSTS :(</span>
</div>
-->
<% #end %>

<% # @user.all_posts(1)[0, 10].uniq.each do |post| %>

<div id="update_create_tip1">
<%= render "profile/post_list"%>
</div>

<script>
$( document ).ready(function() {
  var flag=false
  // Handler for .ready() called.
  $("#tip").focusin(function(){
    $("#comment").slideDown(800);
      if ( $('#tip').val()==""){
      $("#uploadbutton").removeClass("button");
      $("#uploadbutton").addClass("disable_button");
    }
    $("#tip").keyup(function(){
      if ( $('#tip').val()==""){
        $("#uploadbutton").attr("disabled", true);
        $("#uploadbutton").removeClass("button");
        $("#uploadbutton").addClass("disable_button");
      }
      else{
        $("#uploadbutton").removeClass("disable_button");
        $("#uploadbutton").addClass("button");
        $("#uploadbutton").attr("disabled", false); 
      }   
    });
    $("#uploadbutton").addClass("button");
  });

// $('#fumugi').click(function()
// {
//   flag=true
// });
  
  $("#tip").focusout(function(){
      if ( $('#tip').val()=="")
      {
        $("#comment").slideUp(800);
      }
  });
});
</script>

