<div class="container">
    <div class="span4 left">
    
        <!-- nav --> 
        <%= render :partial => '/sidebar/nav' %>

        <!-- suggest -->
        <%= render :partial => '/sidebar/suggest' %>
        
        <!-- trends -->
        <%= render :partial => '/sidebar/trends' %>

        <!-- trends -->
        <%= render :partial => '/sidebar/copy' %>
    </div>

	<div class="span8 tippen-content">
		<div class="banner-section">
			<div class="cool-people">
		        
		        <div class="peaple-header">
			        <div class="row">
			            <div style="margin-right: 350px;" class="span2 cool-heading">
			                <h6>Cool People to Acquaint</h6>
			            </div>
			            <div class="span2 cool-h-link">
			                <ul>
			                    <li><a href="">Refresh</a></li>
			                    <li><a href="">View All</a></li>
			                </ul>
			            </div>
			        </div>
		        </div>
		        
		        <!-- emoji content -->

		        <div style="margin: 10px;" class="row">
		        	
                    <div class="span2">
                        <img align="left" src="./images/cool-img.png">
                        <ul>
                            <li>Lexus</li>
                            <li><a href="">@Lexus</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <img align="left" src="./images/cool-img.png">
                        <ul>
                            <li>Franklin</li>
                            <li><a href="">@Franklin</a></li>
                        </ul>     
                    </div>

                </div>

		    </div>
		</div>
	</div>
</div>